<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" lang="ru" content="Дмитрий Карасёв">
    <meta name="description" content="Интернет-магазин">
    <link rel="shortcut icon" href="favicon.ico">
    <title>Интернет-магазин | Главная</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app">
        <div v-bind:class="{ disabled: isVisibleCart }">
            <header>
                <search-block v-bind:_searchLine="searchLine" @search="FilterGoods" @cart="ShowCart"></search-block>
            </header>
            <main class="content">
                <h2>Каталог</h2>
                <hr>
                <goods-list v-if="filteredGoods.length != 0" :goods="filteredGoods"></goods-list>
                <nodata-msg v-if="filteredGoods.length === 0 && !isNoConnect" msg="Нет данных!"></nodata-msg>
                <nodata-msg v-model="isNoConnect" v-if="this.isNoConnect"
                    msg="Ошибка подключения к серверу. Данные не удалось получить!"></nodata-msg>
            </main>
        </div>
        <div class="cart" v-bind:class="{ collapse: !isVisibleCart }">
            <h2>Корзина</h2>
            <hr>
            <cart class="cart-list" v-if="cartGoods.length != 0" :goods="cartGoods"></cart>
            <nodata-msg v-if="this.cartGoods.length === 0" msg="Корзина пуста!"></nodata-msg>
        </div>
    </div>


    <script src="js/vue/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>