@keyframes scale-btn {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    to {
        transform: scale(1);
    }
}

@keyframes product-fon {
    from {
        transform: rotate3d(0, 1, 0, 90deg);
        background: rgba(0, 0, 0, 1);
    }

    25% {
        transform: rotate3d(0, 1, 0, 67deg);
        background: rgba(18, 16, 16, 0.96);
    }

    50% {
        transform: rotate3d(0, 1, 0, 45deg);
        background: rgba(38, 36, 36, 0.93);
    }

    75% {
        transform: rotate3d(0, 1, 0, 22deg);
        background: rgba(48, 46, 46, 0.9);
    }

    to {
        transform: rotate3d(0, 1, 0, 0deg);
        background: rgba(58, 56, 56, 0.86);
    }
}