.b-btn {
    height: 49px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
    opacity: 1;

    &:hover, &:focus, &:active {
        opacity: 1;
        animation-iteration-count: 1;
        animation: scale-btn 0.6s ease-in-out;

        & svg {
            animation-iteration-count: 1;
            animation: scale-btn 0.6s ease-in-out;
        }
    }

    &_simple {
        background: #fff;
        border: 1px solid #FF6A6A;
        color: #F26376;

        &:hover, &:focus, &:active {
            background: var(--cl-theme);
            color: #FFFF!important;

            & .svg-fon {
                fill: var(--cl-theme);
            }
    
            & .svg-icon {
                fill: #FFFF;
            }
        }

        &_grey {
            border: 1px solid #A4A4A4;
            color: #000;
        }
    }

    &_color {
        background: var(--cl-theme);
        border: 1px solid #FF6A6A;
        color: #FFFFFF!important;
    
        &:hover, &:focus, &:active {
            background: #d1263d;
        }
    }

    &_trpdark {
        background: rgba(58, 56, 56, 0.86);
        border: 1px solid #FFFFFF;
        color: #FFFFFF;

        &:hover, &:focus, &:active {
            opacity: 1;
            background: var(--cl-theme);
            color: #FFFFFF;

            & svg {
                animation-iteration-count: 1;
                animation: scale-btn 0.6s ease-in-out;
            }
    
            & .svg-fon {
                fill: var(--cl-theme);
            }
        }

        & .svg-icon {
            fill: #FFFF;
        }
    }

    &_large {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    &_svg {
        font-size: 0;
        height: auto;
        border: none;

        &:hover, &:focus, &:active {
            opacity: 1;
    
            & svg {
                animation-iteration-count: 1;
                animation: scale-btn 0.6s ease-in-out;
            }
    
            & .svg-fon {
                fill: var(--cl-theme);
            }
    
            & .svg-icon {
                fill: #FFFF;
            }
        }
    
        & .svg-fon {
            fill: #FFFF;
        }
    
        & .svg-icon {
            fill: #000;
        }

        &_dark {
            & .svg-fon {
                fill: #000;
            }
        
            & .svg-icon {
                fill: #FFFF;
            }
        }
    }

    &_nav {
        &:hover, &:focus, &:active {
            color: var(--cl-theme);
            opacity: 1;
        
            & .svg-icon {
                fill: var(--cl-theme);
            }
        }
    }

    &_slider {
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);
        border: none;
    
        &:hover, &:focus, &:active {
            background: rgba(42, 42, 42, 0.15);

            & .svg-fon {
                fill: none;
            }

            & .svg-icon {
                fill: var(--cl-theme);
            }
        }
    }
}