.b-form {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__label {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222;
    }

    &__input {
        outline: 0;
        padding: 13px 0 16px 17px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        background: #FFFFFF;
    }

    &__radio {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        background: #E5E5E5;
    }

    &__prompt {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }

    &__group {
        & * {
            margin-top: 0!important;
            display: inline-block;
        }
    }

    &__input + &__input, &__label + &__input {
        margin-top: 20px;
    }

    & * + &__label, &__input + &__group {
        margin-top: 32px;
    }

    & * + &__prompt {
        margin-top: 16px;
    }

    & * + &__btn {
        margin-top: 39px;
    }

    &__radio + &__label {
        margin-left: 10px;
    }

    &__label + &__radio {
        margin-left: 20px;
    }
}