.b-jumbotron {
    height: var(--jumbo-height);
    background: #F1E4E6;
    
    &__container {
        @extend .b-container; 

        display: flex;
        height: inherit;
        justify-content: center;
        background: none;
        align-items: center;

        @include media-breakpoint-up(sm) {
            background-image: url("../img/index/promo.png");
            background-repeat: no-repeat;
            background-size: contain;
        }

        @include media-breakpoint-between(sm, lg) {
            justify-content: flex-end;
            background-position: left bottom;
        }

        @include media-breakpoint-up(lg) {
            display: block;
            background-position: -194px bottom;
        }
    }

    &__heading {
        background: #F1E4E6;
        display: inline-block;
        margin: 0;
        margin-left: -2px;
        padding-left: 15px;
        padding-bottom: 0;
        border-left: 12px solid var(--cl-theme);
        font-size: 19px;
        line-height: 21px;
        font-weight: 700;
        color: #222222;

        @include media-breakpoint-between(sm, lg) {
            padding-bottom: 16px;
            max-width: 50%;
            margin: 0;
            font-size: 23px;
            line-height: 24px;
        }

        @include media-breakpoint-up(sm) {
            max-width: 50%!important;
        }

        @include media-breakpoint-up(lg) {
            margin: 290px 0 0 calc(50% + 64px);
            padding-left: 16px;
            font-weight: 700;
            font-size: 33px;
            line-height: 38.4px;
        }
    
        &_b {
            font-size: 33px;
            line-height: 40px;
            font-weight: 900;

            @include media-breakpoint-between(sm, lg) {
                font-size: 38px;
                line-height: 51px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 42px;
                line-height: 54px;
            }
        }
    }
}