.b-nav {
    &__item {
        & + & {
            margin-top: 11px;
        }
    }

    &__link {
        font-size: 14px;
        line-height: 17px;
        color: var(--cl-navlink);

        &_active { 
            color: var(--cl-theme);
        }
    }
}