.b-prodfeatured {
    padding-top: 64px;
    padding-bottom: 64px;

    @include media-breakpoint-up(md) {
        padding-top: 129px;
        padding-bottom: 129px;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 128px;
    }
}