.b-promobanners {
    padding-top: 64px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 247px 249px 248px 111px;
    grid-gap: 32px;

    &__wrap {
        @include media-breakpoint-down(sm) {
            padding-left: 16px;
            padding-right: 15px;
        }

        @include media-breakpoint-up(lg) {
            padding-left: 26px;
            padding-right: 38px;
        }
    }

    & .b-promobanner:nth-child(4) {
        grid-column: 1/-1;
    }

    @include media-breakpoint-between(md, lg) {
        & {
            padding-top: 20px;
            grid-template-rows: 167px 116px;
            grid-gap: 20px;
        }
    }

    @include media-breakpoint-up(md) {
        & {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include media-breakpoint-up(lg) {
        & {
            grid-template-rows: 260px 180px;
            padding-top: 65px;
            grid-gap: 30px;
        }
    }
}