.b-promobanner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &_women {
        background-image: url("../img/index/promo-w.png");
    }

    &_men {
        background-image: url("../img/index/promo-m.png");
    }

    &_kids {
        background-image: url("../img/index/promo-k.png");
    }

    &_accs {
        background-image: url("../img/index/promo-a.png");
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(33, 22, 22, 0.7);
    }

    &__text {
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: center;
    }

    &__mark {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0;
        color: var(--cl-theme);
    }
}