:root {
    --cl-dark: #222224;
    --cl-light: #E8E8E8;
    --cl-theme: #F16D7F;
    --cl-navlink: #6F6E6E;
    --side-gap: 16px;
    --side-wgap: 8px;
    --content-width: 100%;
    --header-height: 74px;
    --jumbo-height: 363px;

    @include media-breakpoint-between(md, lg) {
        --jumbo-height: 368px;
    }

    @include media-breakpoint-up(md) {
        --side-gap: 32px;
        --side-wgap: 16px;
    }

    @include media-breakpoint-up(lg) {
        --side-wgap: 32px;
        --content-width: 1204px;//1140px;
        --header-height: 75px;
        --jumbo-height: 764px;
    }
}


// @include media-breakpoint-between(md, lg) {
// }

// @include media-breakpoint-up(md) {
  
// }

// @include media-breakpoint-up(lg) {
 
// }