.b-carousel {
    background: #F7F7F7;
    border: 1px solid #EAEAEA;

    &__img {
        margin: 85px auto;
        width: 100%;//374px;
        height: 100%;//454px;

        @include media-breakpoint-between(md,lg) {
            margin: 29px auto;
            width: 466px;
            height: 565px;
        }

        @include media-breakpoint-up(lg) {
            margin: 10.5px auto 41.5px;
            width: 597px;
            height: 724px;
        }
    }

    &__btn {
        opacity: 1!important;
        background: rgba(42, 42, 42, 0.15)!important;
        margin: auto 0;
        padding: 10px 15px!important;
        width: 47px!important;
        height: 47px!important;

        &_prev {
            &:hover {
                & .b-carousel__prev {
                    background-image: url(../img/svg/sl-prev-hov.svg)!important;
                }
            }
        }

        &_next {
            &:hover {
                & .b-carousel__next {
                    background-image: url(../img/svg/sl-next-hov.svg)!important;
                }
            }
        }
    }

    &__prev {
        filter: none!important;
        background-size: auto!important;
        background-image: url(../img/svg/sl-prev.svg)!important;
    }

    &__next {
        filter: none!important;
        background-size: auto!important;
        background-image: url(../img/svg/sl-next.svg)!important;
    }
}