.b-container {
    box-sizing: border-box;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--side-gap);
    padding-right: var(--side-gap);

    &_wide {
        padding-left: var(--side-wgap);
        padding-right: var(--side-wgap);
    }
}